*,
*:before,
*:after {
    box-sizing: border-box;
}

.main {
    width: auto;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="number"] {
    width: 50px;
}

button {
    display: block;
}

.general-info {
    border: 0;
    margin: 0 0 20px 0;
    padding: 0;
}

.general-info label {
    display: inline-block;
    margin-right: 15px;
}

.exercise-instances, .days {
    border: 1px solid black;
}

.week {
    padding-top: 10px;
}

.exercise-instance, .day {
    display: inline-block;
}

.day {
    width: 25%;
}

.exercise-instance {
    margin-right: 1px;
    width: 33%;
}

.exercise-instance:last-child {
    margin-right: 0;
}